@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color:f2f230;
    --secundary-color:61f2c2;
    --accent1-color:c2f261;
    --accent2-color:61f2c2;

    --heading-font:'______', serif;
    --paragraph-font:'______', serif;

    --nav-background-color: 0081a7;
    --nav-link-color: 00afb9;
    --nav-hover-link-color: fed9b7;
    --nav-hover-background-color: F07167;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color:var(--primary-color)
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}